<div class="row">
  <div class="col-xs-12">
    <p>Add new Servers or blueprints!</p>
    <h3>With 2 way Binding:</h3>
    <label>Server Name</label>
    <input type="text" class="form-control" [(ngModel)]="newServerName" />
    <label>Server Content</label>
    <input type="text" class="form-control" [(ngModel)]="newServerContent" />
    <button class="btn btn-primary" (click)="onAddServer()">Add Server</button>
    <button class="btn btn-primary" (click)="onAddBlueprint()">
      Add Server Blueprint
    </button>
    <br />
    <hr />
    <h3>Using # and avoid variables</h3>
    <label>Server Name</label>
    <input type="text" class="form-control" #serverNameInput />
    <label>Server Content</label>
    <input type="text" class="form-control" #serverContentInput />
    <button class="btn btn-primary" (click)="onAddServerHash(serverNameInput)">
      Add Server
    </button>
    <button class="btn btn-primary" (click)="onAddBlueprint()">
      Add Server Blueprint
    </button>
  </div>
</div>
